body{background-color: linear-gradient(to #7a36af, #470ba7, #000101);}
body{background-image: linear-gradient(to #000101, #470ba7, #7c2aff);}
body{text-align: center;}
body {background: linear-gradient(to bottom left,#000000,#5c0091,#b100d4);}
